/* html elements */
html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        90deg,
        hsl(36, 39%, 100%),
        hsl(36, 62%, 81%) 21%,
        hsl(36, 62%, 81%) 79%,
        hsl(36, 39%, 100%));
    color: hsl(36, 39%, 12%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
}

li {
    display: inline;
    margin-right: 12px;
}

nav {
    display: flex;
    justify-content: end;
    left: 0;
    max-height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    background: linear-gradient(
        90deg,
        hsl(36, 62%, 100%),
         hsl(36, 62%, 81%) 21%,
         hsl(36, 62%, 81%) 79%,
         hsl(36, 62%, 100%));
}

ul {
    list-style: none;
    margin-right: 20px;
}
/* classes */
/* ids */
#about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-gap: 12px;
    margin-left: 200px;
}

#about header {
    grid-column: 1/5;
    grid-row: 1;
    top: 0;
    text-align: center;
}

#about img {
    grid-column: 1;
    grid-row: 2/3;
    width: 400px;
    margin: 12px;
}

#about p {
    grid-column: 2/4;
}

#projects {
    margin-top: 63px;
    text-align: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 63px;
}
/* media queries*/